<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leashin.personalmemo"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:name="com.leashin.personalmemo.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.leashin.personalmemo.ui.SplashActivitytivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.leashin.personalmemo.ui.main.MainActivityMainActivity"
            android:launchMode="singleTop" />
        <activity android:name="com.leashin.personalmemo.ui.main.DetailActivitytailActivity" />
    </application>

</manifest>